

h1 {
    color: crimson;
    text-align: center;
    margin-top: 50px;

}

#conteneur {
    display: flex;
    margin-bottom: 30px;
    padding-left: 100px;

    
}


img {
    padding-top: 50px;
    width: 300px;
    margin-right: 20px;
    
}

.p1 {
    width: 450px;
    margin-top: 50px;
    
}

.p3 {
    width: 450px;
    margin-top: 50px;
}

.p4 {
    width: 300px;
    margin-top: 50px;
    margin-right: 20px;
    padding-left: 3Opx;
    margin-left: 5O%;
}

.p {
    width: 300px;
}

.texte1 {
    padding-right: 20px;
}

.texte2{
    padding-right: 20px;
}
.texte3 {
    padding-right: 50px;
}

.texte4 {
    padding-right: 50px;
}

.texte5 {
    padding-right: 50px;
    margin-left: 100px;
}


